{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nifty</title>
        <link rel="icon" href="{% static 'index/images/logo.png' %}" type="image/x-icon">
        <!-- Use Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Use Custom css style -->
        {% block extra_css %}
          <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="{% static 'index/css/index.css' %}" type="text/css">
          <link rel="stylesheet" href="{% static 'index/css/star-rating.min.css' %}" media="all" type="text/css"/>
          <link rel="stylesheet" href="{% static 'index/themes/krajee-fa/theme.css' %}" media="all" type="text/css"/>
          <link rel="stylesheet" href="{% static 'index/themes/krajee-svg/theme.css' %}" media="all" type="text/css"/>
          <link rel="stylesheet" href="{% static 'index/themes/krajee-uni/theme.css' %}" media="all" type="text/css"/>
        {% endblock %}
    </head>
    <body>
      {% block content %}
        <!-- Container for the title image, carousel, and search/login/register section -->
        <div class="container-fluid titleImage_container">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <!-- First slide, set as active -->
              <div class="carousel-item active">
                <img src="{% static 'index/images/index1.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <!-- Second slide -->
              <div class="carousel-item">
                <img src="{% static 'index/images/index2.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <!-- Third slide -->
              <div class="carousel-item">
                <img src="{% static 'index/images/index3.jpg' %}" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>

          <!-- Search box overlay on top of the carousel -->
          <div class="search-box">
            <form action="{% url 'search' %}" method="get">
              <input type="text" name="q" placeholder="Movie,Book,TvShow,User" class="search-input" value="{{ query }}">
              <button type="submit" class="btn btn-success">Search</button>
            </form>
          </div>

          <!-- If the user is authenticated, display a welcome message -->
          {% if user.is_authenticated %}
            <div class="login-register-notice text-light">
              <h1 class="index-username-show"><strong>Welcome,</strong></h1>
              <h1 class="index-username-show"><strong>{{ user.username|truncatechars:21 }}</strong></h1>
            </div>
          {% else %}
            <!-- If the user is not authenticated, display the login/register form -->
            <div class="login-register">
              <div class="auth-card">
                <div class="auth-tabs d-flex justify-content-center">
                  <a href="" class="active">Sign In</a>
                </div>
                <!-- Authentication form for login -->
                <form class="auth-form" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Username" id="username" name="username" required>
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-success w-100">Login</button>
                  </div>
                </form>

                <!-- Links for "Forgot Password?" and "Register" -->
                <div class="text-center auth-links">
                  <a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot Password?</a>
                  <span class="auth-separator">   |   </span>
                  <a href="{% url 'register' %}" class="text-decoration-none">Register</a>
                </div>
              </div>
            </div>
          {% endif %}

          <!-- Display an error alert if an error message exists -->
          {% if error %}
            <div class="alert alert-danger alert-dismissible fade show floating-alert" role="alert">
              {{ error }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        </div>

        <!-- Collection record section showing the counts of movies, books, and TV shows -->
        <div class="container-fluid collection-record justify-content-center align-items-center">
          <p class="text-center fw-bold collection-record-title">WE HAVE</p>
          <!-- 显示数量 -->
          <div class="search-counts collection-record-title mt-2 text-center fw-bold">
            <span class="me-3">MOVIE: {{ movie_count }}</span>
            <span class="me-3">BOOK: {{ book_count }}</span>
            <span class="me-3">TVSHOW: {{ tv_count }}</span>
          </div>
        </div>

        <!-- Section for displaying movies -->
        <div class="container-fluid movie-show">
          <div class="text-center">
            <h1>Movie</h1>
          </div>
          <div class="container movie-part">
            <div class="row justify-content-center">
              <!-- Left container for movie cards -->
              <div class="col-md-5 me-4 text-center ">
                <div class="container mt-4">
                  <div class="row g-2">
                    <!-- Loop through the list of movies and display each movie as a card -->
                    {% for movie in movies %}
                      <div class="col-md-3 movie-card">

                        <!-- Movie poster image -->
                        <a href="{% url 'moviedetail' movie.movie_id %}" class="text-decoration-none text-reset">
                          <div class="card">
                            <img src="{{ movie.movie_cover_image.url }}"
                                class="card-img-top movie-poster" alt="Movie Poster">
                            <div class="card-body text-center">
                              <!-- Movie title -->
                              <p class="movie-title">{{ movie.movie_name }}</p>
                            </div>

                            <!-- Star rating display using a rating plugin -->
                            <div class="star-rating">
                              <input id="movie-rating-{{ movie.movie_id }}" type="text" class="rating rating-loading" value="{{ movie.average_rating|floatformat:1 }}" data-min="0" data-max="10" data-step="0.1"  data-size="xs" readonly>
                            </div>
                          </div>
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <!-- Vertical divider between movie cards and reviews -->
              <div class="vertical-divider"></div>
              <!-- Right container for movie reviews -->
              <div class="col-md-5 ms-4">
                <!-- Loop through movie reviews and display each review as a clickable card -->
                <div class="scrollable-comments">
                  {% for review in reviews_movies %}
                    <div class="card review-card comments-card mb-2" onclick="window.location.href='{% url 'moviedetail' review.review_content_id %}'">
                      <div class="card-body">
                        {% if review.user.avatar %}
                          <div class="d-flex align-items-center">
                            {% if user.is_authenticated %}
                              <a href="{% url 'profile' review.user.id %}" onclick="event.stopPropagation();" class="text-decoration-none text-reset">
                                <div class="d-flex align-items-center">
                                  <img src="{{ review.user.avatar.url }}" alt="User Avatar" class="rounded-circle custom-circle me-2">
                                  <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                                </div>
                              </a>
                            {% else %}
                              <a href="{% url 'login' %}?next={% url 'profile' review.user.id %}" onclick="event.stopPropagation();" class="text-decoration-none text-reset">
                                <div class="d-flex align-items-center">
                                  <img src="{{ review.user.avatar.url }}" alt="User Avatar" class="rounded-circle custom-circle me-2">
                                  <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                                </div>
                              </a>
                            {% endif %}
                            <p class="card-title-artwork mb-0 ms-auto text-decoration-none text-primary">{{review.review_content_type|upper}}|{{ review.review_content_name|truncatechars:35 }}</p>
                          </div>
                        {% else %}
                          <div class="d-flex align-items-center">
                            <img src="{% static '/user/avatar_default.png' %}" alt="User Avatar" class="rounded-circle custom-circle me-2">
                            <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                            <p class="card-title-artwork mb-0 ms-auto text-decoration-none text-primary">{{review.review_content_type|upper}}|{{ review.review_content_name|truncatechars:35 }}</p>
                          </div>
                        {% endif %}
                        <p class="card-text card-text mt-3">{{ review.review_text|truncatechars:400 }}</p>
                        <p class="text-muted text-end card-text mt-3"><small>{{ review.created_at }}</small></p>
                      </div>
                    </div>
                  {% empty %}
                    <p>No Reviews</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Section for displaying TV shows -->
        <div class="container-fluid series-show">
          <h1 class="series-part-title text-center">TvShow</h1>
          <div class="container series-part">
            <div class="row justify-content-center">
              <!-- Left container for TV show cards -->
              <div class="col-md-5 me-4 text-center ">
                <div class="container mt-4">
                  <div class="row g-2">
                    {% for tvshow in series_left %}
                      <div class="col-md-3 movie-card">
                        <a href="{% url 'tvshowdetail' tvshow.tvshow_id %}" class="text-decoration-none text-reset">
                          <div class="card">
                            <!-- TV show cover image -->
                            <img src="{{ tvshow.tvshow_cover_image.url }}"
                                class="card-img-top movie-poster" alt="Movie Poster">
                            <div class="card-body text-center">
                              <!-- TV show title -->
                              <p class="movie-title">{{ tvshow.tvshow_name }}</p>
                            </div>

                            <!-- Display TV show rating using a plugin -->
                            <div class="star-rating">
                              <input id="movie-rating-{{ tvshow.tvshow_id }}" type="text" class="rating rating-loading" value="{{ tvshow.average_rating|floatformat:1 }}" data-min="0" data-max="10" data-step="0.1"  data-size="xs" readonly>
                            </div>
                          </div>
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- Right container for the other half of the TV shows -->
              <div class="col-md-5 ms-4">
                <div class="container mt-4">
                  <div class="row g-2">
                    <!-- Loop through the right half of the TV shows -->
                    {% for tvshow in series_right %}
                      <div class="col-md-3 movie-card">
                        <a href="{% url 'tvshowdetail' tvshow.tvshow_id %}" class="text-decoration-none text-reset">
                          <div class="card">
                            <img src="{{ tvshow.tvshow_cover_image.url }}"
                                class="card-img-top movie-poster" alt="Movie Poster">
                            <div class="card-body text-center">
                              <p class="movie-title">{{ tvshow.tvshow_name }}</p>
                            </div>

                            <!-- Display TV show rating using a plugin -->
                            <div class="star-rating">
                              <input id="movie-rating-{{ tvshow.tvshow_id }}" type="text" class="rating rating-loading" value="{{ tvshow.average_rating|floatformat:1 }}" data-min="0" data-max="10" data-step="0.1"  data-size="xs" readonly>
                            </div>
                          </div>
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Section for displaying Books -->
        <div class="container-fluid books-show">
          <h1 class="books-part-title text-center">Books</h1>
          <div class="container series-part">
            <div class="row justify-content-center">
              <!-- Left container for book reviews -->
              <div class="col-md-5 me-4">
                <div class="scrollable-comments">
                  <!-- Loop through book reviews -->
                  {% for review in reviews_books %}
                    <div class="card review-card comments-card mb-2" onclick="window.location.href='{% url 'bookdetail' review.review_content_id %}'">
                      <div class="card-body">
                        {% if review.user.avatar %}
                          <div class="d-flex align-items-center">
                            {% if user.is_authenticated %}
                              <a href="{% url 'profile' review.user.id %}" onclick="event.stopPropagation();" class="text-decoration-none text-reset">
                                <div class="d-flex align-items-center">
                                  <img src="{{ review.user.avatar.url }}" alt="User Avatar" class="rounded-circle custom-circle me-2">
                                  <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                                </div>
                              </a>
                            {% else %}
                              <a href="{% url 'login' %}?next={% url 'profile' review.user.id %}" onclick="event.stopPropagation();" class="text-decoration-none text-reset">
                                <div class="d-flex align-items-center">
                                  <img src="{{ review.user.avatar.url }}" alt="User Avatar" class="rounded-circle custom-circle me-2">
                                  <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                                </div>
                              </a>
                            {% endif %}
                            <p class="card-title-artwork mb-0 ms-auto text-decoration-none text-primary">{{review.review_content_type|upper}}|{{ review.review_content_name|truncatechars:35 }}</p>
                          </div>
                        {% else %}
                          <div class="d-flex align-items-center">
                            <img src="{% static '/user/avatar_default.png' %}" alt="User Avatar" class="rounded-circle custom-circle me-2">
                            <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                            <p class="card-title-artwork mb-0 ms-auto text-decoration-none text-primary">{{review.review_content_type|upper}}|{{ review.review_content_name|truncatechars:35 }}</p>
                          </div>
                        {% endif %}

                        <!-- Truncated review text for the book -->
                        <p class="card-text card-text mt-3">{{ review.review_text|truncatechars:400 }}</p>
                        <p class="text-muted text-end card-text mt-3"><small>{{ review.created_at }}</small></p>
                      </div>
                    </div>
                  {% empty %}
                    <p>No Reviews</p>
                  {% endfor %}
                </div>
              </div>
             <!-- Right container for book cards -->
            <div class="col-md-5 ms-4 text-center ">
              
              <div class="container mt-4">
                <div class="row g-2">
                  <!-- Loop through the list of books and display each as a card -->
                  {% for book in books %}
                    <div class="col-md-3 movie-card">
                      <a href="{% url 'bookdetail' book.book_id %}" class="text-decoration-none text-reset">
                        <div class="card">
                          <!-- Book cover image -->
                          <img src="{{ book.book_cover_image.url }}"
                              class="card-img-top movie-poster" alt="Movie Poster">
                          <div class="card-body text-center">
                            <!-- Book title -->
                            <p class="movie-title">{{ book.book_name }}</p>
                          </div>
                          <!-- Display book rating using a plugin -->
                          <div class="star-rating">
                            <input id="movie-rating-{{ book.book_id }}" type="text" class="rating rating-loading" value="{{ book.average_rating|floatformat:1 }}" data-min="0" data-max="10" data-step="0.1"  data-size="xs" readonly>
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- "Back to Top" button for quickly scrolling to the top of the page -->
        <button id="backToTop" class="btn btn-outline-success">Back to Top</button>
      {% endblock %}
      
        
      <!-- Use Bootstrap -->
      <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- Use Custom js -->
      {% block extra_js %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'index/js/index.js' %}"></script>
        <script src="{% static 'index/js/star-rating.min.js' %}"></script>
        <script src="{% static 'index/themes/krajee-fa/theme.js' %}" type="text/javascript"></script>
        <script src="{% static 'index/themes/krajee-svg/theme.js' %}" type="text/javascript"></script>
        <script src="{% static 'index/themes/krajee-gly/theme.js' %}" type="text/javascript"></script>
        <script src="{% static 'index/themes/krajee-uni/theme.js' %}" type="text/javascript"></script>
      {% endblock %}
    </body>
</html>