/*This is a css file which can control the base page*/

.navbar{
    background-color: rgba(0, 0, 0, 0) !important; 
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)); 
    border-bottom: none;
    width: 100%; 
    height: 80px;
    font-size: 18px;
    transition: height 0.5s ease, font-size 0.1s ease;
    pointer-events: none;
  }
  .navbar.heightDecrease {
    font-size: 16px;
    height: 55px; 
  }
  .navbar.interWithCardContainer{
    background-color: rgba(255, 255, 255, 1.0) !important; 
    background: none;
    border-bottom:  2px solid #000;
  }
  .navbar-toggler-icon {
    background-color: rgb(255, 255, 255); 
  }
  .nav-icon {
    width: 120px !important; 
    vertical-align: middle; /* Center the icon vertically with the text. */
    margin-right: 700px;
    pointer-events: auto;
  }
  .nav-item{
    pointer-events: auto;
  }
  /* Add transition effects to navigation links to avoid abrupt changes */
  .navbar-nav .nav-link {
    color: #ffffff;
    margin: 5px;
    transition: all 0.5s ease;
  }
  
  /* Add border and background color on mouse hover. */
  .navbar-nav .nav-link:hover {
    border: 0px solid #fff;  
    border-radius: 10px;        
    background-color: rgba(255, 255, 255, 0.13);  
  }
  .footer a {
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: none;
  }
  .footer ul.list-unstyled.text-small li {
    margin-bottom: 10px;

  }
  .footer ul.list-unstyled.text-small li:hover {
    margin-bottom: 10px;
  }
  
  
  