/*This is a css file which can control the tvshowhome page*/

/*Setting the body background*/
body{
    background-image: url("../images/tvshow_home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* Position the pseudo-element relative to the body */
}

/*Set a black mask for the overall background*/
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    pointer-events: none; /* Masking layers do not affect page operations */
    z-index: 0;
  }
  
/* Ensure that page content is displayed above the mask layer */
.container-fluid {
    position: relative;
    z-index: 1;
}

 /* use keyframes to create the animation */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

/* use animation */
.animate {
    animation: fadeInUp 2s ease forwards;
}
.search-page-main{
    min-height: 1270px;
    background-attachment: fixed;
    background-size: cover;
}
.search-notice{
    margin-top: 10px;
    color: #ffffff;
}
.title_home{
    margin-top: 170px;
    color: #ff9100;
}
.input-group{
    width: 600px;
}
input::placeholder{
    text-align: center;
}
.my-hr {
    width: 72%;     
    margin: 0 auto;  /* Left and right auto margins for centering */
    border: none;
    border-top: 3px solid #ccc;  
}
.custom-card {
    max-width: 1000px;  
    margin: 0 auto;    /* Left and right auto margins for centering */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
}
.custom-card:hover {
    transform: scale(1.025); /* Enlargement 5% */
  }
.custom-poster {
    width: 120px;          
    max-height: 200px;    /* Limit maximum height */
    object-fit: cover;    
}
#backToTop {
    position: fixed;
    bottom: 20px; 
    right: 20px;  
    display: none; 
    z-index: 1000; 
    height: 50px;
  }
