.title-main{
    margin-top: 70px;
    background-color:rgb(36, 17, 124);
}
.title-words{
    font-size: 40px;
    color: #ff9100;
    font-family: 'Rakkas', cursive;
}
.book-detail-page{
    min-height: 1200px;
}
.progress {
    background-color: transparent;
}
.progress-bar{
    background-color: #FFD596;
}
.rating-distribution {
    width: 180px !important;
    background-color: transparent;
    margin: 0 auto;
    color: rgba(124, 124, 124, 0.911);
}
.grade-show{
    color: #000000;
}
.rounded-circle{
    width: 40px; 
    height: 40px; 
    object-fit: cover;
}
.mark-detail{
    background-color: rgba(201, 255, 196, 0.226);
    border-radius: 25px;
}
.scrollable-comments {
    max-height: 1200px; 
    overflow-y: auto;  /* Vertical scroll bar for overruns */
    border-radius: 10px;
    /* Firefox: Hide scrollbars by default */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
/* Chrome, Safari, Edge: Hide scrollbar */
.scrollable-comments::-webkit-scrollbar {
    width: 10px;
}
.scrollable-comments::-webkit-scrollbar-thumb {
background-color: transparent;
border-radius: 10px;
}
/* Show scrollbar on mouse hover */
/* Firefox */
.scrollable-comments:hover {
scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
/* Chrome, Safari, Edge */
.scrollable-comments:hover::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.5);
}
.resource{
    margin-left: 100px;
}
.resource-icon{
    height:40px; 
}
.comments-card{
    background-color: rgba(255, 244, 196, 0.253);
}
#backToTop {
    position: fixed;
    bottom: 298px; 
    right: 20px;  
    display: none; 
    z-index: 1000; 
    height: 50px;
}
.recommendation-card{
    width: 133px;
    height: 250px;
    margin-bottom: 50px;
    min-width: 135px;
}
.card-img-top{
    width: 133px;
    height:200px;
    object-fit: fill;
}
.recommendation-card-title{
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.reviews-section{
    margin-top: 20px;
}
.related-books {
    overflow-x: auto;        /* Allow horizontal scrolling */
    
    /* Firefox: Hide scrollbar */
    scrollbar-width: none;   /* Hide scrollbar */
    
    /* IE 10+ */
    -ms-overflow-style: none;
  }
  
  /* Chrome、Safari  */
  .related-books::-webkit-scrollbar {
    display: none;           /* Hidden by default */
  }
  
  /* Show scrollbar when mouse is hovering */
  /* Firefox */
  .related-books:hover {
    scrollbar-width: thin;   /* Show thin scroll bar */
  }
  
  /* WebKit Browser: Show Scrollbar on Mouse Hover */
  .related-books:hover::-webkit-scrollbar {
    display: block; 
    height: 8px;            
  }
  
  .related-books:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);  
    border-radius: 4px;
  }
  .star-rating{
    margin-left: 30px;
  }
  .review-card {
    cursor: pointer;
  }
  .user-name{
    margin-top: 15px;
  }
  