{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nifty</title>
        <link rel="icon" href="{% static 'index/images/logo.png' %}" type="image/x-icon">
        <!-- Use Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Use Custom css style -->
        {% block extra_css %}
          <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="{% static 'css/bookhome.css' %}" type="text/css">
          <link rel="stylesheet" href="{% static 'index/css/star-rating.min.css' %}" media="all" type="text/css"/>
          <link rel="stylesheet" href="{% static 'index/themes/krajee-fa/theme.css' %}" media="all" type="text/css"/>
          <link rel="stylesheet" href="{% static 'index/themes/krajee-svg/theme.css' %}" media="all" type="text/css"/>
          <link rel="stylesheet" href="{% static 'index/themes/krajee-uni/theme.css' %}" media="all" type="text/css"/>
        {% endblock %}
    </head>
    <body>               
        {% block content %}
            <div class="container-fluid search-page-main">
                <div class="input-group mb-4 mx-auto">
                    <h1 class="title_home fw-bold">BOOK</h1>
                </div>
                <form action="" method="get">
                    <div class="input-group mb-3 mx-auto">
                        <input type="text" name="q" class="form-control text-center" placeholder="Books" aria-label="Recipient's username" aria-describedby="button-addon2" value="{{ query }}">
                        <button class="btn btn-outline-warning" type="submit" id="button-addon2">Search Book</button>
                    </div>
                </form>
                <div class="my-hr">
                    <div class="row align-items-center search-notice">
                        <div class="col-md-6">
                        <h4>Search Results for "{{ query }}"</h4>
                        </div>
                    </div>
                </div>
                <!-- 搜索结果 -->
                 
                {% if query %}
                    <div class="row">
                        <h5 class="mt-4 text-warning text-center">Books ({{ books|length }}) results</h5>
                        {% if books %}
                        {% for book in books %}
                            <div class="col-12 mb-1 results-body" data-category="book">
                                <div class="card card-horizontal custom-card">
                                    <a href="{% url 'bookdetail' book.book_id %}" class="text-decoration-none text-reset">
                                        <div class="row g-0">
                                            <!-- 左侧图片区域 -->
                                            <div class="col-md-2">
                                            {% if book.book_cover_image %}
                                                <img src="{{ book.book_cover_image.url }}" class="img-fluid rounded-start custom-poster" alt="{{ book.book_name }}">
                                            {% else %}
                                                <img src="{% static 'default_book.jpg' %}" class="img-fluid rounded-start custom-poster" alt="No image">
                                            {% endif %}
                                            </div>
                                            <!-- 右侧文本区域 -->
                                            <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">{{ book.book_name }}</h5>
                                                <p class="card-text">{{ book.book_release_year|date:"F j, Y" }}</p>
                                                <p class="card-text">{{ book.book_genre }}</p>
                                                <p class="card-text">{{ book.book_writer }}</p>
                                            </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-muted text-center">No books found.</p>
                        {% endif %}
                    </div>
                    {% else %}
                    <h5 class="text-light text-center">Please enter a book keyword to search.</h5>
                    {% endif %}
            </div>
            <button id="backToTop" class="btn btn-outline-success">Back to Top</button>
        {% endblock %}
        
            
        <!-- Use Bootstrap -->
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Use Custom js -->
        {% block extra_js %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/bookhome.js' %}"></script>
            <script src="{% static 'index/js/star-rating.min.js' %}"></script>
            <script src="{% static 'index/themes/krajee-fa/theme.js' %}" type="text/javascript"></script>
            <script src="{% static 'index/themes/krajee-svg/theme.js' %}" type="text/javascript"></script>
            <script src="{% static 'index/themes/krajee-gly/theme.js' %}" type="text/javascript"></script>
            <script src="{% static 'index/themes/krajee-uni/theme.js' %}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>

