/*This is a css file which can control the login page*/

/*Setting the overall background*/
body{
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* Position the pseudo-element relative to the body */
}

/*Set a black mask for the overall background*/
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    pointer-events: none; 
    z-index: -111;
}

/* Ensure that the page content is displayed above the mask layer */
.container {
    position: relative;
    z-index: 1;
}

.card {
    margin-top: 300px;
    margin-bottom: 400px;
}

/*Creating a frosted effect on a card*/
.card-frosted {
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);         
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 10px;
}
  