body{
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* 让伪元素相对于 body 定位 */
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* 黑色阴影，透明度可根据需要调整 */
    pointer-events: none; /* 遮罩层不影响页面操作 */
    z-index: -111;
  }
  /* 确保页面内容显示在遮罩层之上 */
.container {
    position: relative;
    z-index: 1;
  }
  .card {
    margin-top: 300px;
    margin-bottom: 300px;
  }
.card-frosted {
    background: rgba(0, 0, 0, 0.5); /* 半透明背景，根据需要调整颜色和透明度 */
    backdrop-filter: blur(10px);         /* 磨砂效果，调整数值控制模糊程度 */
    -webkit-backdrop-filter: blur(10px); /* Safari 浏览器兼容 */
    border-radius: 10px;
  }
  