body{
    background-image: url("../images/search.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* 让伪元素相对于 body 定位 */
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* 黑色阴影，透明度可根据需要调整 */
    pointer-events: none; /* 遮罩层不影响页面操作 */
    z-index: 0;
  }
  
  /* 确保页面内容显示在遮罩层之上 */
  .container-fluid {
    position: relative;
    z-index: 1;
  }
.search-page-main{
    min-height: 1270px;
}
.input-group{
    width: 600px;
}
input::placeholder{
    text-align: center;
}
.my-hr {
    width: 72%;      /* 设置宽度为50%或你希望的具体宽度 */
    margin: 0 auto;  /* 左右自动外边距实现居中 */
    border: none;
    border-top: 3px solid #ccc;  /* 设置上边框作为线条 */
}
.title_home{
    margin-top: 170px;
    color: #7e0097;
  }
.custom-card {
    max-width: 1000px;  /* 设定卡片的最大宽度 */
    margin: 0 auto;    /* 自动左右外边距，实现居中 */
    transition: transform 0.2s ease; /* 添加平滑过渡效果 */
}
.custom-card:hover {
    transform: scale(1.025); /* 放大 5% */
}
.custom-poster {
    width: 120px;          /* 占满父容器的宽度 */
    max-height: 200px;    /* 限制最大高度 */
    object-fit: cover;    /* 保持比例，裁剪超出部分 */
}
.search-notice{
    margin-top: 10px;
}
.search-filter-button{
    margin-left: 200px;
}
.bio-text{
    white-space: nowrap;       /* 防止换行 */
    overflow: hidden;          /* 隐藏超出部分 */
    text-overflow: ellipsis;   /* 超出部分显示省略号 */
}
.user-card{
    height: 126px;
    max-width: 1000px;
    margin: 0 auto; 
    transition: transform 0.2s ease; /* 添加平滑过渡效果 */
}
.user-card:hover {
    transform: scale(1.025); /* 放大 5% */
}
.user-poster{
    height: 125px;
    object-fit: fill;
}
#backToTop {
    position: fixed;
    bottom: 20px; /* 距离底部20px */
    right: 20px;  /* 距离右侧20px */
    display: none; /* 初始隐藏 */
    z-index: 1000; /* 确保覆盖其它内容 */
    height: 50px;
  }


  