<!-- inherite base html -->
{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Nifty-Login{% endblock %}</title>
        <!-- Use Bootstrap js -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        {% block extra_css %}
            <!-- import login css file -->
            <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
        {% endblock %}
    </head>
    <body>
        <!-- main body -->
        {% block content %}
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-frosted">
                            <div class="card-header bg-success text-white text-center">
                                <h4>Login</h4>
                            </div>
                            <!-- login card -->
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="username" class="form-label text-light">Username</label>
                                        <input type="text" class="form-control text-center" id="username" name="username" placeholder="username" required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="password" class="form-label text-light">Password</label>
                                        <input type="password" class="form-control text-center" id="password" name="password" placeholder="password" required>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-outline-success">Login</button>
                                    </div>
                                </form>
                                <!-- error message shows here -->
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!-- register navigator -->
                            <div class="card-footer text-center">
                                <a href="{% url 'register' %}" class="text-decoration-none text-light">Don't have an account?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
            <!-- Use Bootstrap js -->
            <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        {% block extra_js %}
            <!-- import login js file -->
            <script src="{% static 'js/login.js' %}"></script>
        {% endblock %}
    </body>
</html>
