<!-- inherite base html -->
{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Nifty-Login{% endblock %}</title>
        <!-- Use Bootstrap css -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        {% block extra_css %}
            <!-- Use login css -->
            <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-frosted">
                            <div class="card-header bg-success text-white text-center">
                                <h4>Password Reset</h4>
                            </div>
                            <!-- card body here -->
                            <div class="card-body">
                                <h2 class="text-center text-light">Password Reset Complete</h2>
                                <p class="text-center text-light">Please log in with your new password</p>
                                <!-- error message will display here -->
                                {% if messages %}
                                    <div class="alert alert-danger mt-3" role="alert">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Login navigator -->
                            <div class="card-footer text-center">
                                <a href="{% url 'login' %}" class="text-decoration-none text-light">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
            <!-- Use Bootstrap js -->
            <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        {% block extra_js %}
            <!-- Use login js -->
            <script src="{% static 'js/login.js' %}"></script>
        {% endblock %}
    </body>
</html>
