<!-- inherite base html -->
{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Nifty-Login{% endblock %}</title>
        <!-- Use Bootstrap css -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        {% block extra_css %}
            <!-- Use login css -->
            <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-frosted">
                            <div class="card-header bg-success text-white text-center">
                                <h4>Password Reset</h4>
                            </div>
                            <!-- card body here -->
                            <div class="card-body">
                                <h2 class="text-center text-light">Change Your Password</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                    <label for="{{ form.new_password1.id_for_label }}" class="form-label text-center text-light">New Password</label>
                                    <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" 
                                            class="form-control" placeholder="Enter new password" required>
                                    {% for error in form.new_password1.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                    </div>
                                    <div class="mb-3">
                                    <label for="{{ form.new_password2.id_for_label }}" class="form-label text-center text-light">Confirm New Password</label>
                                    <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" 
                                            class="form-control" placeholder="Re-enter new password" required>
                                    {% for error in form.new_password2.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                    </div>
                                    <button type="submit" class="btn btn-outline-success d-block mx-auto">Change Password</button>
                                </form>
                                <!-- error message will display here -->
                                {% if messages %}
                                    <div class="alert alert-danger mt-3" role="alert">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Register navigator -->
                            <div class="card-footer text-center">
                                <a href="{% url 'register' %}" class="text-decoration-none text-light">Don't have an account?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
            <!-- Use Bootstrap js -->
            <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        {% block extra_js %}
            <!-- Use login js -->
            <script src="{% static 'js/login.js' %}"></script>
        {% endblock %}
    </body>
</html>
