body {
  font-family: 'Open Sans', sans-serif;
}
.titleImage_container{
  width: 100%;
  height: 50%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.titleImage_container img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
/* Absolute positioning of the search box */
.search-box {
  position: absolute;
  top: 45%;           
  left: 30%;           
  transform: translateX(-50%);
  z-index: 10;         /* Make sure the search box is above the image */
  width: 80%;          
  max-width: 500px;
}
.custom-circle{
  width: 30px; 
  height: 30px; 
  object-fit: cover;
}
.search-box form {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}
.search-input {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
}
.search-input:focus {
  outline: none;
}
.search-btn {
  background-color: #0060c7ce;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}
.search-btn:hover {
  background-color: #3e8000;
}
.login-register {
  position: absolute;
  top: 25%;           
  left: 70%;           
  transform: translateX(-50%);
  z-index: 10;         /* Make sure the search box is above the image */
  width: 300px;         
  max-width: 500px;
}
.auth-tabs a {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 10px;
  pointer-events: none;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust intervals as needed */
  max-width: 300px;
}
.auth-separator {
  margin: 0 10px;
  color:#ffffff;  
}
input {
  text-align: center;
}
.login-register-notice{
  position: absolute;
  top: 40%;           
  left: 70%;           
  transform: translateX(-50%);
  z-index: 10;         
  width: 300px;          
  max-width: 500px;
}
.login-register-notice p{
  color:#ffffff;
  font-size: 42px;
  margin-right: 50px;
}
.collection-record {
  height: auto;
  font-size: 40px;
  color: #e6a800;
  background-color: rgba(0, 0, 0, 1); 
}
.ollection-record-title{

}
.movie-show {
  background: linear-gradient(135deg, #EAD6EE 0%, #a0c0bd 100%);
  height: 750px;
  padding-top: 50px;
}
.movie-show h1 {
  font-family: 'Font Awesome', sans-serif; 
  font-size: 36px; 
  color: rgb(0, 162, 255); 
  margin-bottom: 20px;
  font-weight: bold;
}
.content-parts {
  width: 50%;   
  margin-left: 300px;  
  margin-right: auto;
  margin-bottom: 50px;
}
.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.movie-card .card  {
  height: 120px;
  width: 100px; 
  margin-bottom: 100px;  
}
.scrollable-comments {
  margin-top: 22px;
  max-height: 438px;  
  overflow-y: auto;   /* Vertical scrollbar appears when height is exceeded */
  border-radius: 10px;
  /* Firefox: Hide scrollbars by default */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
/* Chrome, Safari, Edge: Hide scrollbar */
.scrollable-comments::-webkit-scrollbar {
  width: 8px;
}
.scrollable-comments::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}
/* Show scrollbar on mouse hover */
/* Firefox */
.scrollable-comments:hover {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
/* Chrome, Safari, Edge */
.scrollable-comments:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
.movie-part {
  margin-bottom: 60px !important;
}
.movie-title{
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: -150px;
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
}
.star-rating {
  margin-bottom: 0px;
  margin-top: 0;
}
.card-title-artwork {
  font-size: 12px;
}
.comments-card {
  margin-left: 30px;
  background-color: #eeeeee79;
  border-radius: 10px;
}
.series-show {
  background-color: #161616d2;
  color: #ecd4b7;
  height: 650px;
  padding-top: 50px;
}
.series-show h1 {
  font-weight: bold;
  font-family: 'Font Awesome', sans-serif; 
  font-size: 40px;
}
.vertical-divider {
  width: 1px;               
  background-color: #0374a133;   
  height: auto;             
  border-radius: 10px;
}
.books-show {
  background: linear-gradient(135deg, #ced69d 0%, #c2a0a1 100%);
  color: #4b1702;
  height: 650px;
  padding-top: 50px;
}
.books-show h1 {
  font-weight: bold;
  font-family: 'Font Awesome', sans-serif; 
  font-size: 44px;
}
.index-username-show {
  display: block;
  width: 18ch;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 55px;
  color: #ff5e2c;
}
.floating-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}
.review-card {
  cursor: pointer;
}

/* Define a CSS animation called 'fadeInUp' */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.collection-record-title {
  animation: fadeInUp 2s ease forwards;
}

/* Initial state of the card: transparent and offset downwards */
.card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease-out;
}

/* Status after activation: fully displayed and returned to its original position */
.card.show {
  opacity: 1;
  transform: translateY(0);
}
#backToTop {
  position: fixed;
  bottom: 298px; 
  right: 20px;  
  display: none; 
  z-index: 1000; 
  height: 50px;
}








