/*This is a css file which can control the followdetail page*/

/*Setting the body background*/
body{
  background-image: url("../images/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; /* Position the pseudo-element relative to the body */
}

/*Set a black mask for the overall background*/
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); 
  pointer-events: none; /* Masking layers do not affect page operations */
  z-index: -99;
}

/* Ensure that page content is displayed above the mask layer */
.container-fluid {
  position: relative;
  z-index: 10;
}
.main-page{
    margin-top: 50px;
    height: 1000px;
}
.user-card {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #d4ae766e;
  }
  .user-card:hover {
    transform: scale(1.01); /* Enlargement 5% */
  }
  .user-card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  .section-title {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.title-main{
    margin-top: 70px;
    background-color: rgb(102, 187, 173);
}
.title-words{
    font-size: 40px;
    font-family: 'Rakkas', cursive;
}
.scrollable-users {
    max-height: 1000px; 
    overflow-y: auto;  
    overflow-x: hidden; 
  }