/*This is a css file which can control the profile page*/

/*Setting the body background*/
body{
    background-image: url("../images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* Position the pseudo-element relative to the body */
  }

.user-info-offset {
    height: 400px;
    background: linear-gradient(135deg, #d46728 0%, #51aca0 100%);
    color: #000000;
}
.user-info {
    margin-top: 30px;
}
.user-info-extra {
    margin-top: 70px;
    margin-bottom: 25px;
}
.profile-rounded-circle {
    margin-bottom: 45px;
}   
.bio-card {
    margin-right: 300px;
    margin-bottom: 30px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.075); 
    border-radius: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 4;      /* Limit display to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 700px;
    max-width: 630px;
}
.right-content {
    margin-top: 65px;
}
/* Left list selected state */
.list-group-item.active {
    background-color: #c86c02;
    border-color: #0266C8;
}
/* Overall card background or shading */
.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #124e006c;
}

.col-form-label {
    font-weight: 600;
}

.btn-success {
    background-color: #0284a8;
    border-color: #0284a8;
}
.btn-success:hover {
    background-color: #026c88;
    border-color: #026c88;
}
.detail-page {
    min-height: 650px;
    background: linear-gradient(135deg, #51aca0 0%, #d46728 100%);
}
.all-details {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bio-text {
    max-width: 550px;
}
.favorites-page {
    height: 1200px;
    background: linear-gradient(135deg, #51aca0 0%, #d46728 100%);
    
}
.reviews-page {
    min-height: 600px;
    background: linear-gradient(135deg, #51aca0 0%, #d46728 100%);
}
.settings-page {
    min-height: 650px;
    background: linear-gradient(135deg, #51aca0 0%, #d46728 100%);
}
.favorite-img {
    max-width: 130px;
}
.text-ellipsis {
    max-width: 80px;
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis; 
}
#searchInput-favorite {
    border-radius: 50px;
    background-color: #00afa628;
}
#searchInput-reviews {
    border-radius: 50px;
    background-color: #00afa628;
}
.input-group-custom {
    width: 50%;       
    width: 600px; 
    margin: 0 auto;   
}
.favorites-category {
    max-height: 300px;  
    overflow-y: auto;   /* Vertical scroll bar when height is exceeded */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
/* Hide scrollbars by default */
.favorites-category::-webkit-scrollbar {
    width: 8px;
}
.favorites-category::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
/* Show scrollbar on mouse hover */
/* Firefox */
.favorites-category:hover {
scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
/* Chrome, Safari, Edge */
.favorites-category:hover::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.5);
}
.fixed-poster {
    width: 120px;   
    height: 200px;  
    object-fit: fill;
    border-radius: 10px;
}
.truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 4;       
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 6.0em;           
}
.delete-icon{
    width: 30px;
    height: 30px;
    bottom: 3px; 
    right: 3px;
}
.disabled-link {
    pointer-events: none;
    cursor: default; 
}

.disabled-link .delete-icon {
    pointer-events: auto !important;
    z-index: 9999;
}
.review-delete-icon{
    position: absolute; 
    bottom: 5px; 
    right: 5px;
}
.review-edit-icon{
    position: absolute; 
    top: 5px; 
    right: 5px;
}
.scrollable-reviews {
    max-height: 1200px; 
    overflow-y: auto;  /* Show vertical scrollbar when content exceeds height */
    overflow-x: hidden; 
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
/* Hide scrollbars by default */
.scrollable-reviews::-webkit-scrollbar {
    width: 8px;
}
.scrollable-reviews::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
/* Show scrollbar on mouse hover */
/* Firefox */
.scrollable-reviews:hover {
scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
/* Chrome, Safari, Edge */
.scrollable-reviews:hover::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.5);
}
  

  